
// 颜色定义规范
// body背景色
$background-color : #F1F2F4;
$background-color-white: #FFFFFF;
// tab颜色
$blue-tab-color: #3FC1C9;
// tab背景色
$blue-tab-bgcolor: #4978B0;
// 内容字体颜色
$main-text-color: #333333;
$main-text-color-s: #999999;
$main-text-color-ss: #666666;
$main-background-color: #F6F8F9;
// 边框颜色
$border-color: #EBEBEB;


//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

